#feedback {
    /*position: fixed;*/
    /*top: 10px;*/
    /*margin: 100px auto;*/
}

.feedback {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px;
}

.feedback.error {
    border: 1px solid #FF5555;
    color: #FF5555;
}

.feedback.info {
    border: 1px solid #5555FF;
    color: #5555FF;
}

.feedback.success {
    border: 1px solid #55FF55;
    color: #55FF55;
}

.feedback.warning {
    border: 1px solid #FFFF55;
    color: #FFFF55;
}

.feedback .message {
    color: #38051F;
}
