section.feedback {
    left: 0;
    position: fixed;
    right: 0;
    top: 10px;
}

article.feedback {
    border-radius: 1em;
    display: inline-block;
    font-size: 1.2em;
    margin: 1em 10em;
    min-width: 800px;
    padding: 1em;
    text-align: left;
    vertical-align: middle;
}

article.feedback menu {
    float: right;
    margin: 0;
    padding: 0;
}

article.feedback button.close {
    padding: 0 0.3em;
    font-size: 3.0em;
}

.feedback.error {
    background-color: rgba(255, 85, 85, 0.52);
    border: 6px dashed #FF5555;
    color: #FF5555;
}

.feedback.info {
    background-color: rgba(85, 85, 255, 0.52);
    border: 6px dashed #5555FF;
    color: #5555FF;
}

.feedback.success {
    background-color: rgba(85, 255, 85, 0.52);
    border: 6px dashed #55FF55;
    color: #55FF55;
}

.feedback.warning {
    background-color: rgba(255, 255, 85, 0.52);
    border: 6px dashed #FFFF55;
    color: #FFFF55;
}

.feedback .message {
    color: #38051F;
}
