@import url(http://fonts.googleapis.com/css?family=Domine);


/**
 * general
 */
body {
    background: url('../img/subtlepatterns/gplaypattern.png');
    background-color: #EEEEEE;
    font-family: 'Domine', serif;
    text-align: center;
}

body > footer {
    margin-bottom: 10em;
}

header {
    font-size: 1.7em;
    margin: 1em 1em 0.3em;
    text-align: center;
}

footer {
    clear: both;
}

a {
    color: rgb(153, 0, 147);
    text-decoration: none;
}

a:hover {
    color: rgb(201, 128, 20);
    text-decoration: underline;
}

section {
    text-align: center;
}

article {
    margin: 1em;
    padding: 1em;
    text-align: justify;
}

article > button,
article > menu {
    padding: 0;
    margin: 0.5em;
    text-align: center;
    text-shadow: 0px 0px 15px #000;
    visibility: hidden;
}

article:hover > button,
article:hover > menu {
    visibility: visible;
}

article > menu a {
    margin: 0.3em;
}

form .submit {
    cursor: pointer;
}

input {
    background-color: rgba(125, 106, 202, 0.24);
    border: 2px solid rgba(118, 130, 192, 0.73);
    border-radius: 0.7em;
    margin: 0.3em;
    padding: 0.4em;
    text-align: center;
}

button {
    /*box-shadow: 0px 0px 11px 1px rgb(190, 198, 255);*/
    background-color: rgba(125, 106, 202, 0.24);
    border-radius: 5px;
    border: 2px solid rgba(118, 130, 192, 0.73);
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.59);
    cursor: pointer;
    padding: 2px 4px;
}

.big { font-size: 1.3em; }
.bigger { font-size: 2.7em; }
.biggest { font-size: 4.7em; }

.small { font-size: 0.92em; }
.smaller { font-size: 0.83em; }
.smallest { font-size: 0.71em; }

.clickable { cursor: pointer; }

.hidden { display: none; }

.toggle {
    cursor: pointer;
    color: rgb(90, 37, 139);
    color: rgb(112, 31, 106);
}


/**
 * shows
 */
article.show,
article.season,
article.episode {
    background-color: rgba(249, 255, 100, 0.16);
    border: 2px solid rgba(167, 167, 167, 0.40);
    border-radius: 1em;
    display: inline-block;
    vertical-align: top;
}

article.show > header,
article.season > header,
article.episode > header {
    max-width: 220px;
    text-align: center;
    margin: 0.5em auto;
}

article.feedback {
    display: inline-block;
    vertical-align: middle;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    min-width: 600px
}

article.show[data-status="available"],
article.season[data-status="available"],
article.episode[data-status="available"] {
    background-color: rgba(56, 206, 56, 0.1);
    border: 2px solid rgba(28, 146, 28, 0.40);
}

article.show[data-status="unavailable"],
article.season[data-status="unavailable"],
article.episode[data-status="unavailable"] {
    background-color: rgba(255, 85, 85, 0.1);
    border: 2px solid rgba(255, 85, 85, 0.40);
}

article.show[data-status="unseen"],
article.season[data-status="unseen"],
article.episode[data-status="unseen"] {
    background-color: rgba(56, 206, 56, 0.1);
    border: 2px solid rgba(28, 146, 28, 0.40);
}

article.show[data-status="seen"],
article.season[data-status="seen"],
article.episode[data-status="seen"] {
    background-color: rgba(54, 54, 54, 0.1);
    border: 2px solid rgba(97, 97, 97, 0.40);
}


/**
 * finder
 */
#finder {
    margin-top: 10em;
    margin-bottom: 10em;
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

#finder .query {
    text-align: center;
}

#finder input {
    font-size: 2em;
    padding: 0.2em;
}

#finder input[type=submit] {
    border-radius: 0.4em;
}

#finder input[type=text] {
    border-radius: 0.7em;
    width: 25em;
}

#finder .result .items.list {
    display: inline-block;
    min-width: 40em;
    text-align: left;
}


/**
 * user
 */
section.user {
    margin: 1em;
    padding: 1em;
}

@media handheld {
    article > button,
    article > menu {
        visibility: visible;
    }
    .hidden {
        display: initial;
    }
}
