@import url(http://fonts.googleapis.com/css?family=Domine);

body {
    background-color: #EEEEEE;
    font-family: 'Domine', serif;
    margin-bottom: 10em;
    text-align: center;
}

body > footer {
}

header {
    font-size: 1.3em;
    margin: 1.01em;
}

button {
    visibility: hidden;
}

article:hover button {
    visibility: visible;
}

.hidden { display: none; }

.seasons article,
.episodes article {
    margin: 1.2em;
}

#shows .episodes.list,
#finder .result .items.list {
  display: inline-block;
  min-width: 40em;
  text-align: left;
}

#shows .show.item {
    background-color: #FFFFFF;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 2em;
    margin: 1em;
    padding: 1em;
}

.episode.item .links {
    text-align: center;
}

#finder {
    margin-top: 10em;
    margin-bottom: 10em;
    padding-top: 5em;
    padding-bottom: 5em;
}
