<article class="episode" data-id="{.eid}"
    data-status="{?.seen}seen{:else}unseen{/.seen}">
    <header>
        <span class="number">
            {.number}
        </span>
        <br/>
        <a href="{_.url}/show/{#show}{id}{/show}/episode/{.eid}/toggleseen"
            class="toggleseen">
            {.title}
        </a>
    </header>

    <div class="airs">
        Air date :
        {~s}
        <span class="airdate">
            {.airdate}
        </span>
    </div>

    <menu>
        <a href="{.url}" target="_blank">
            <span class="title">
                <img src="img/logo-tvrage-20x28.png" alt="TVRage" />
            </span>
        </a>
        {~s}
        <a href="http://thepiratebay.se/search/{#show}{name}{/show} {.eid}"
            target="_blank">
            <img src="img/logo-tpb-27x20.png" alt="TPB" />
        </a>
        {~s}
        <a href="http://www.bit-hdtv.com/torrents.php?search={#show}{name}{/show} {.eid}"
            target="_blank">
            <span class="logo">
                <img src="img/logo-bithdtv-20x19.png" alt="BIT-HDTV" />
            </span>
        </a>
    </menu>
</article>
