<article class="episode item">
    <header>
        <span class="number">{number}</span> -{~s}
        <span class="title"><a href="{url}" target="_blank">{title}</a></span>
    </header>
    Air date : <span class="airdate">{airdate}</span>
    <br/>
    <div class="links">
        <span class="tpb">
            <a href="http://thepiratebay.se/search/{showname} {eid}" target="_blank">
                <img src="img/tpb-cassette.png" alt="tpb cassette" />
            </a>
        </span>
    </div>
</article>
