{?error}
<h1>Couldn't make request. It probably timed out, try again or something. ({error})</h1>

{:else}
{?Results.show}
<h1>
    Found {Results.show.length} show(s) for "{query}":
</h1>

<ul>
    {#Results.show}
    <li data-id="{showid}">
        <h2><a href="{link}" target="_blank">{name}</a></h2>
        <dl>
            <dt>status</dt>
            <dd>{status}</dd>

            <dt>Running period</dt>
            <dd>{started} - {ended}</dd>

            <dt>genres</dt>
            <dd>
                {#genres}
                <ul>
                    {#genre}
                    <li>{.}</li>
                    {/genre}
                </ul>
                {/genres}
            </dd>
        </dl>
    </li>
    {:else}
    <li>Search for something else...</li>
    {/Results.show}
</ul>

{:else}
<h1>Found nothing for "{query}". :(</h1>
{/Results.show}
{/error}


{! example ... 
show [
    {
    genres: [
        {
            genre: [ 'Action', 'Crime', 'Drama' ]
        }
    ],
    link: [ 'http://www.tvrage.com/Person_of_Interest' ],
    country: [ 'US' ],
    name: [ 'Person of Interest' ],
    started: [ '2011' ],
    status: [ 'Returning Series' ],
    seasons: [ '2' ],
    ended: [ '0' ],
    showid: [ '28376' ],
    classification: [ 'Scripted' ]
    },
    ..
]
!}
