<article class="show item" data-id="{id}">
    <header>
        <span class="name"><a href="{url}" target="_blank">{name}</a></span>
    </header>
    <span class="started">{startdate}</span> - <span class="ended">{ended}</span>
    {?airday}
    <div class="airs">
        Airs
        {~s}<span class="time">{airtime}</span>
        {~s}on
        {~s}<span class="day">{airday}</span>
        {~s}(<span class="timezone">{timezone}</span>)
    </div>
    {/airday}
    <br/>
    <button class="update button">Update</button>
    <button class="remove button">Remove</button>
    {>seasons:seasons/}
</article>
