<article class="show" data-id="{.id}" class="name toggle"
    data-toggle=".seasons" data-state="false">
    <header>
        <span class="name toggle" data-toggle=".seasons"
            data-state="false">
            {.name}
        </span>
    </header>

    {?airday}
        <p class="airs">
            Airs
            {~s}
            <span class="time">
                {.airtime}
            </span>
            {~s}
            on
            {~s}
            <span class="day">
                {.airday}
            </span>
            {~s}
            (
            <span class="timezone">
                {.timezone}
            </span>
            )
        </p>
    {/.airday}

    <p class="period">
        <span class="started">{.startdate}</span> - <span class="ended">{.ended}</span>
    </p>

    <menu>
        <a href="/show/{.id}/remove" class="remove">
            Remove
        </a>
        {~s}
        <a href="{.url}" target="_blank">
            <img src="img/logo-tvrage-20x28.png" alt="TVRage" />
        </a>
        {~s}
        <a href="https://en.wikipedia.org/w/index.php?search={.name}" target="_blank">
            <img src="img/logo-wikipedia-20x22.png" alt="WikiPedia" />
        </a>
        {~s}
        <a href="/show/{.id}/update" class="update">
            Update
        </a>
    </menu>

    {>seasons/}
</article>
