<div class="source">
    <h3>Source links</h3>
    <span class="links">
        <ul>
            <li>
                <a href="http://services.tvrage.com/feeds/showinfo.php?sid={id}">Info</a>
            </li>
            <li>
                <a href="http://services.tvrage.com/feeds/episode_list.php?sid={id}">Episodes</a>
            </li>
            <li>
                <a href="http://services.tvrage.com/feeds/full_show_info.php?sid={id}">Full</a>
            </li>
        </ul>
    </span>
</div>
